*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.brand-name{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}


.nav-item .nav-link.active{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.container_custom{
    width: 100%;
    height: auto;
    padding: 20px;
}

.con1{
    min-height: 450px;
    padding: 50px;
    background-color: rgb(232, 232, 232);
    border-radius: 25px;
}
.con2{
    margin-left: 10px;
    min-height: 450px;
    padding: 50px;
    border-radius: 25px;
} 

